@model Boletin.GUI.Models.Parametros.ModeloGradeGUI

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<div>
    <h4>ModeloGradeGUI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
